/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}



body {
	background-color: #BD8FE3; /* Not totally white. */
	color: #000E36;  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
	font-family: Times New Roman;
	margin: 10px 100px 10px
}

h1 {
	color: Blue; /* Same as body background. */
	font-size: 200%;
	padding: 50px 10px 50px; /* You want three values. */
	font-weight: Bold;
	text-transform: uppercase;
}


h2 {
	text-align: center;
	color: #000E36;
	font-size: 150%;
	padding: 50px;
	font-family: Georgia;
	font-weight: Normal;
}

h3 {
	margin: 10px 100px 10px; /*Three values again. You got the idea.*/
	padding-top: 5px;
	font-size: 200%;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: 5px solid red;
}

h4 {
	font-weight: Bold;
}

h5 {
	font-style: italic;
}

h6 {
	color: red;
}

ul {
	margin: ____ ____ ____;
}

li { 
	margin: ____ ____;
	list-style-type: ____;
}
